.panel {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.button {
  background: white;
  box-shadow: 0px 4px 12px rgba(125, 130, 131, 0.3);
  border: 4px solid #333;
  border-radius: 18px;
  width: 90px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.button:disabled {
  border-color: #9e9e9e;
  color: #9e9e9e;
  cursor: default;
}

.panelContent {
  box-shadow: 0px 4px 12px rgba(125, 130, 131, 0.3);
  border: 4px solid #333;
  border-radius: 18px;
  display: flex;
  margin: 0 20px;
  z-index: 4;
}

.item {
  width: 46px;
  font-size: 18px;
  font-weight: 700;
  border-right: 4px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.item:first-child {
  border-radius: 13px 0 0 13px;
}

.item:last-child {
  border-radius: 0 13px 13px 0;
  border-right: none;
}

.item__active {
  background: #398388;
  color: white;
}
